@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary: 0, 0, 0;
  --secondary: 214, 219, 220;
  --tertiary: 255, 255, 255;
}

body {
  color: rgb(var(--primary));

  font-size: 12px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header {
  height: 72px;
  color: rgb(225, 225, 225);
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo {
    font-size: 32px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 24px;
  }

  .logout {
    padding: 24px;
    a:link,
    a:visited {
      color: white;
    }
    a:hover {
      color: rgb(255, 195, 54);
    }
    a:active {
      color: rgb(148, 105, 4);
    }
  }
}

.auth-form {
  width: 340px;
  background-color: rgb(231, 231, 231);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;

  button {
    color: white;
    border: 0;
    padding: 4px;
    border-radius: 4px;
  }
  .form__input {
    margin: 4px 0px;
  }

  button {
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 4px;
    margin: 20px 8px 0px 0px;
  }
  .form__button--primary {
    background-color: darkblue;
  }
  .form__button--secondary {
    background-color: blue;
  }

  .form__group {
    display: flex;
    flex-direction: column;
    margin: 4px 0px;
  }
}

.text-balance {
  text-wrap: balance;
}

.item-form-btn {
  background-color: rgb(209, 255, 186);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(11, 10, 8);
  border: none;
  margin: 16px 0px 0px 0px;
  padding: 8px;
  border-radius: 4px;
}

.item-form-container {
  display: flex;
  justify-content: center;

  .add {
    background-color: rgb(209, 255, 186);
  }

  .edit {
    background-color: rgb(253, 248, 189);
  }
  .item-form {
    padding: 16px 16px 16px 16px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 5;

    .cancel-btn {
      background-color: rgb(231, 231, 231);
      color: rgb(28, 20, 20);
      border: 0.5px solid darkblue;
    }

    button {
      background-color: darkblue;
      color: white;
      border: 0;
      padding: 8px;
      border-radius: 4px;
      margin: 20px 8px 0px 0px;
    }
  }
}

.item-list {
  width: 1000px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .item-card {
    background-color: rgb(231, 231, 231);

    border-width: 0.5px 0.5px 0px 0.5px;
    border-style: solid;
    color: #ffffff;
    display: flex;
    flex-direction: row;

    .itemName {
      background-color: rgb(213, 235, 255);
      width: 160px;
      color: black;
      padding: 8px;
    }

    .itemDescription {
      width: 300px;
      background-color: rgb(231, 231, 231);
      padding: 8px;
      color: black;
    }

    .itemQuantity {
      width: 100px;
      background-color: rgb(213, 235, 255);
      padding: 8px;
      color: black;
    }

    .itemCategory {
      width: 200px;
      background-color: rgb(231, 231, 231);
      padding: 8px;
      color: black;
    }

    .itemButtons {
      background-color: rgb(213, 235, 255);
      width: 120px;
      padding: 8px;
      color: black;

      button {
        margin: 0px 4px;
        border: none;
        border-radius: 4px;
        padding: 8px;
      }
      .edit-btn {
        background-color: rgb(253, 248, 189);
      }
      .delete-btn {
        background-color: rgb(255, 199, 210);
      }
    }
  }
}

.bold {
  font-weight: 800;
}
.hidden {
  visibility: hidden;
}
